:root {
    --background-color:#F5F5F5;
    --primary-color: #4A90E2;
    --secondary-color: #A8E6CF;
    --text-color: #002D72;
    --accent-color: #FF6F61;
    --body-font: 'Inter',regular;      
  }
