html,body {
    background-color: var(--primary-color);
}
body {
    margin: 0;
    padding: 20px;
  }
nav {
    display: flex;
    justify-content: flex-end; 
    background-color: var(--background-color);
    padding:10px;
}
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    float: left;
    position: relative;
    margin-right: 20px; 
}
  
  nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 18px; /* Change text size */
    font-family: 'Inter', sans-serif;
  }
  
  h1 {
    color: var(--primary-color);
  }
  
  p {
    font-size: 1.2rem;
    color: var(--text-color);
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;

  }
 