:root {
    --primary-color: #D6D2D2; 
    --secondary-color: #576066;
    --background-color: #2C514C;   
    --text-color: #122932;
    --accent-color: #230903;
    --body-font: 'Inter',regular;      
  }
